body{
  background-color: #2f3033;
}

.wrapper{
  // border:1px solid red;
  width: 700px;
  overflow: hidden;
}

.box{
  // border:3px solid red;
  width: 700px;
  height: 500px;
  border-radius: 15px;
  background: linear-gradient(#1d2b49, #1a45a0, #91cdff, #fff);
  background-size: 100% 300%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 2s;
  overflow: hidden;
  position: relative;
}

.sun {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  left: 250px;
  top: 100px;
  background-color: #ffdd38;
  box-shadow: 0px 0px 20px rgba(255, 221, 56, 0.5);
  top: 400px;
  opacity: 0;
  transition: 2s;
  // display: none;
}

.moon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 250px;
  top: 100px;
  // animation: moonAppear 5s both;
  box-shadow: inset 10px -10px rgba(#fff,0.9);
  transition: 2s;
}


  
//月亮動畫
@keyframes moonAppear{
  0%{ 
    box-shadow: inset 0px 0px rgba(#fff,0.9)
  }
   
  100%{
      box-shadow: inset 10px -10px rgba(#fff,0.9)
  }
    
}
  
  
// .night{
//   width: 700px;
//   height: 500px;
//   border-radius: 15px;
//   background: linear-gradient(#1d2b49, #1a45a0, #91cdff, #fff);
//   background-size: 100% 300%;
//   box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
//   cursor: pointer;
//   transition: 2s;
//   overflow: hidden;
// }
   
.night{
  position: relative;
    width: 100%;
    height: 100%;
    transition: 1s;
    // display: none;
}

.text{

  position: absolute;
  top:50%;
  left: 20%;
  transform: translate(-50%, -50%);
  &-one{
    display: none;
  }
}
    

.house {
	position: absolute;
	right: 0;
	bottom: 0;
	transform: scale(0.95);
	transition: 2s;
  &-one {
    position: absolute;
    bottom: 0;
    right: 0;
    // border:1px solid red;
    width: 180px;
    height: 200px;
    border-radius: 0;
    z-index: 1;
    background-color: #fafaf5;
    box-shadow: -50px 0px #e3e2cf inset;
    .window {
      width: 40px;
      height: 100px;
      border-radius: 20px;
      background-color: #e3e2cf;
      box-shadow: inset 8px 5px #bebdaf;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 40px;
      margin-left: 70px;
      .circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.534);
        margin: 4px;
        margin-left: 10px;
      }
    }
  }
  &-two {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 240px;
    height: 170px;
    border-radius: 0;
    right: 130px;
    z-index: 2;
    background-color: #fafaf5;
    box-shadow: 0px 15px #8dc9fc inset, -72px 0px #e3e2cf inset;
    .door {
      width: 40px;
      height: 80px;
      border-radius: 20px 20px 0 0;
      position: absolute;
      bottom: 0;
      left: 45px;
      background-color: #2c2f36;
      box-shadow: inset 10px 2px #6fc5ff;
    }
  }
  &-three{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 320px;
    height: 300px;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    background-color: #fafaf5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    .wall {
      flex: 1;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      .window {
        width: 24px;
        height: 50px;
        border-radius: 12px 12px 0px 0px;
        margin-top: 30px;
        background-color: #2c2f36;
      }
      &:before {
        content: "";
        display: block;
        width: 45%;
        height: 20px;
        border-radius: 0;
        position: absolute;
        top: -20px;
        background-color: inherit;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      }
      &:nth-child(1) {
        background-color: #fafaf5;
        flex: 10;
        .window {
          box-shadow: inset 8px 0px #6fc5ff;
        }
        &:before {
          z-index: 1;
        }
      }
      &:nth-child(2) {
        background-color: #e3e2cf;
        flex: 14;
        .window {
          box-shadow: inset 0px 0px #6fc5ff;
    
        }
        &:before {
          z-index: 2;
        }
      }
      &:nth-child(3) {
        background-color: #bebdaf;
        flex: 10;
        .window {
          box-shadow: inset -8px 0px #6fc5ff;
        }
        &:before {
          z-index: 1;
        }
      }
    }
  }
}
// [class^="house"] {
// 	position: absolute;
// 	bottom: 0;
// 	right: 0;
// }

.roof {
	width: 300px;
	height: 150px;
	border-radius: 150px 150px 0 0;
	position: absolute;
	top: -170px;
	right: 5px;
	background: linear-gradient(150deg, #6fc5ff, #0058ff);
	.rooftop {
		width: 28px;
		height: 14px;
		border-radius: 14px 14px 0 0;
		position: absolute;
		left: 50%;
		top: -14px;
		transform: translateX(-50%);
		background-color: #fff;
	}
	.cross {
		width: 4px;
		height: 30px;
		border-radius: 0;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 10px;
		background-color: #fff;
		&:before {
			content: "";
			display: block;
			width: 20px;
			height: 4px;
			border-radius: 0;
			position: absolute;
			bottom: 15px;
			left: 50%;
			transform: translateX(-50%);
			background-color: #fff;
		}
	}
}

.star{
   position: absolute;
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 50%;;
    // box-shadow: 0 0 10px #fff;
    // animation: staring 2s linear infinite;
    -webkit-animation: snow 5s linear infinite;
}
   
    
// 雲
// 雪
@for $i from 1 through 30{
  .star#{$i}{
    top: random(50) * 1%;
        left: random(100) * 1%;
        animation-delay: $i * -.1s;
  }
        
}
    
@keyframes snow {
  0% { opacity: 0; transform: translateY(0px); }
  20%{ opacity: 1;}
  100% { opacity: 0; transform: translateY(250px); }
}
@keyframes staring{
  0%{
    opacity: 1;
  } 
        
    50%{
       opacity: 0;
    }
    100%{
      opacity: 1;
    }
       

}
label{
  // border:1px solid red;
}
//點擊
input {
  display: none;
	&:checked {
    
    box-shadow: 0 0 0 3px lime;
    // color: red;
	}
  &:checked ~ .box{
    background-position: 0 100%;
  }
  &:checked ~ .box .text{
    &-one{
      display: block;
    }
    &-two{
      display: none;
    }
  }
  &:checked ~ .box .moon{
    top: -100px;
    opacity: 0;
  }
  &:checked ~ .box .sun{
    top: 100px;
    z-index: 1;
    opacity: 1;
    // display: block;
  }
  &:checked ~ .box .night{
    display: none;
  }
	// display: none;
}
